body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    color: #333;
}

p{
    font-size: 18px;
    color: #666;
}

a{
    display: block;
    color: brown;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: cadetblue;
    font-size: 200px;
    transition: 300s;
}